# Lines that start with '#' are comments.
# IntelliJ IDEA Project files
.idea
.gradle
*.iml
*.ipr
*.iws
dowwnloader/target
dowwnloader/build
subtitleConverter-master/target
subtitleConverter-master/build
/.idea/
/.idea/workspace.xml
