body{text-align: center;}
.m-out{width: 90%;margin: 0 auto;}
.m-header{padding: 24px ;}
.m-header .m-h-l{float: left;}
.m-header .m-h-r{float: left}
.m-sercher{padding:0 0 12px 9px ;margin-top: 40px}
.m-sercher input{height: 42px ;width: 45%}
.m-img{height: 100%;margin: 24px}
.m-img .down_load {float: right;width: 66px;height: 66px;margin: 12px;background-color: #ff7e79;padding: 2px;border-radius: 2px;
}
.nav li a{font-size: 14px!important;font-weight:bold;}
 .img-all{width: 25%;border: solid 4px #eeeeee}
 .des_div{font-size: 17px;text-align: start;color: #404040;padding: 12px}
 .des_div .not_a{color: red}
 .a-download{font-size: 2em;display: none;}